<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pick Your Desk - {{ floor_name }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/pick_seat.css') }}">
<!-- <script src="{{ url_for('static', filename='js/pick_seat.js') }}"></script> -->

</head>
<body>

<div class="header">
  <h1>FindMyDesk</h1>
  <h2>Pick your Desk</h2>
  <p>{{ library_name }} Floor {{ floor_name }} (select one seat at a time)</p>
</div>

  <div class="map-container" data-library-name="{{ library_name }}" data-floor-name="{{ floor_name }}" id="container">
    <img src="{{ url_for('static', filename=floor_img_url) }}" alt="Floor Plan">
    <!-- Overlay divs for seats -->
    <!-- {% for seat in seats %}
      <div class="seat {{ 'reserved' if not seat.available }}" 
           style="position: absolute; top: {{ seat.top_position }}px; left: {{ seat.left_position }}px;"
           onclick="selectSeat(this, '{{ seat.label }}');">
      </div>
    {% endfor %} -->
    <!-- Inside your .map-container -->
      {% for seat in seats %}
        <div class="seat {{ 'reserved' if not seat.available }}" 
             style="top: {{ seat.top_position }}%; left: {{ seat.left_position }}%; position: absolute;"
              onclick="selectSeat(this, '{{ seat.label }}');">
        </div>
      {% endfor %}

  </div>

<div class="footer">
  <button id="reserveButton" class="reserve-btn" disabled>Reserve</button>
</div>

<script src="{{ url_for('static', filename='js/pick_seat.js') }}"></script>
</body>
</html>
